# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Virtual environment
venv/
env/

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Testing and coverage
.tox/
.coverage
.coverage.*
.pytest_cache/
